<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>오류 발생</title>
    <link rel="stylesheet" th:href="@{/css/common.css(v=5)}">
</head>

<body>

<div class="container">

    <div class="card result-box">

        <h1 class="error-title">⚠️ 문제가 발생했습니다</h1>

        <p class="muted"
           th:text="${errorMessage}">
            기본 오류 메시지
        </p>

        <a th:href="@{/qr/entry}" class="btn-primary">
            홈 화면으로 돌아가기
        </a>

    </div>

</div>

</body>
</html>